*.db
*.log
*.swp
*.py~
trash
build/
dist/*
*.egg-info
*.egg
docs/build
continuous_integration/hdfs-initialized
.cache
.#*
.idea/
.pytest_cache/
dask-worker-space/
__pycache__

static/extensions/
.python-version
.vscode
mysql
dev_settings.py
.python-version
dev_settings.py
*.png
*.jpg
*.jpeg
*.PNG
*.JPG
*.JPEG
upload/extensions/
