.header{
    /* background-color: #ffffff; */
    color: #414959 !important;
}
.login-wrap{
    background: #ffffff;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #20a0ff;
}
.el-upload--text em {
    color: #20a0ff;
}
.pure-button{
    background: #20a0ff;
}
.tags-li.active {
    border: 1px solid #409EFF;
    background-color: #409EFF;
}
.message-title{
    color: #20a0ff;
}
.collapse-btn:hover{
    background: rgb(40,52,70);
}

.el-dropdown-link {
    color: #414959 !important;
    cursor: pointer;
}

.siderbar{
    background-color: #ffffff  !important;
    color: #414959 !important;
}

.btn-bell{
    color: #414959 !important;
}


